<h1>Edit article</h1>

<%= render 'form' %>

<p><%= link_to 'Create a new article', new_article_path  %></p>
<p><%= link_to 'Articles Page', articles_path %></p>
<p><%= link_to 'Home Page', root_path %></p>
<p><%= link_to 'About Page', about_path %></p>