<div class="container">
  <h1 class= "text-center m-4">Article Index</h1>
  <div class="row justify-content-md-center">
    <div class="col-8">
      <% @articles.each do |article| %>
        <div class="card text-center m-3">
          <div class="card-header">
            By <%= article.user.username if article.user %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <p class="card-text"><%= truncate(article.description, length: 100) %></p>
            <%= link_to 'Show', article_path(article), class: "btn btn-success" %>
            <%= link_to 'Edit', edit_article_path(article), class: "btn btn-warning" %>
            <%= link_to 'Delete', article_path(article), class: "btn btn-danger", data: { "turbo-method": :delete, turbo_confirm: "Are you sure ?" } %>
            </div>
          <div class="card-footer text-muted">
            Created ago <%= time_ago_in_words(article.created_at)%>,
            Updated ago ago <%= time_ago_in_words(article.updated_at)%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>